/*@import url("grid.css");*/
/*@import url("image.css");*/
/*@import url("nav.css");*/

.container {
 display: grid;
 border : solid 2px;
 grid-template-columns: 80% 20%;
 grid-gap: 3%;
}
body{
 font-family:  New Roman, serif;
 line-height: 1.8em;
 background-color: rgb(190, 228, 239)
}

h1{  
 font-size: 25px;
 line-height: 30px;
 color: #0e0e11;

}	

h2{
 font-size:20px;
 line-height: 25px;
 color: #0e0e11;
}

h3{
 font-family: serif;
 font-size:25px;
 line-height: 30px;
}

p{
 color: rgb(14, 14, 17);
 text-align: justify;
}




